@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html, body {
  height: 100%;
}

body {
  background: #F8F8FB;
}
   
img {
  max-width: 100%;
}

.grabbable:last-child hr:last-child {
  display: none;
}


